  <%= flash[:success] %>
<div class="container">
  <div class= "row">
    <div class= "col-4">
      <%= @member.name %>さんのプロフィール<br>
      <div class="index-box border my-2">
         <div class="index-field mr-5">
           　<%= image_tag @member.get_profile_image(100,100) %>
            <p>
             登録日時:   <%= @member.created_at.strftime('%Y/%m/%d') %><br>
             ユーザ名:   <%= @member.name %><br>
             紹介文:   <br><%= @member.introduction %>
            </p>
            <%= form_with model: @member, url: admin_member_path, method: :patch do |f| %>
                <%= f.hidden_field :is_deleted, :value => true %>
              <div class= "field">
                <%= f.submit '退会', class:"btn btn-success",  "data-confirm" => "本当に削除しますか?" %>
              </div>
            <% end %>
         </div>
       </div>
    </div>
  </div>
</div>
<%= render 'admin/members/review_index', reviews: @reviews, comment: @comment %>