<div class= "top-title">
 <h2 class= "top-main-title">麺好き!</h2><br>
  <h4 class= "top-sub-title">~今日はどの麺にしますか？~</h4>
</div>

<div class= "container mt-2">
 <div class= "row">
  <div class= "col-8">
   <h4>最新投稿</h4>
   <% @reviews.first(1).each do |review| %>
    画像<%= review.get_image(100,100) %><br>
    <%= review.shop_name %><br>
    <%= review.place %>
   <% end %>
  </div>

  <div class= "col-3">
   <table class= "table table-bordered">
    <thead>
     <tr>
      <th>カテゴリ名</th>
      <th>件数</th>
     </tr>
    </thead>
    <tbody>
     <div>
      <% @categories.each do |category| %>
       <tr>
        <td><%= link_to category.category_name, categories_path(category.id) %></td>
        <td><%= category.reviews.count %>件</td>
        </tr>
      <% end %>
      <tr>

       </tr>
     </div>
    </tbody>
   </table>
  </div>
 </div>
</div>