<div class= "top-title">
 <h2 class= "top-main-title">麺好き!</h2><br>
  <h4 class= "top-sub-title">~今日はどの麺にしますか？~</h4>
</div>
<div class= "container mt-2">
 <div class= "row">
  <div class= "col-3">
  </div>
  <div class= "col-6 text-center">
   <h4>最新投稿</h4>
   <div class="card w-50 mt-4 mx-auto shadow-lg">
    <div class="card-body">
      <% @reviews.first(1).each do |review| %>
          <%= image_tag review.get_image(100,100), class:"card-img-top border-bottom" %><br>
         <div class="card-text">
          店名:<%= link_to review.shop_name, review_path(review.id) %><br>
          場所:<%= review.place %><br>
          カテゴリ:<%= review.category.category_name %><br>
          感想:<%= review.review_cont %>
         </div>
      <% end %>
    </div>
   </div>
  </div>

  <div class= "col-3">
   <table class= "table table-bordered">
    <thead>
     <tr>
      <th>カテゴリ名</th>
      <th>件数</th>
     </tr>
    </thead>
    <tbody>
     <div>
      <% @categories.each do |category| %>
       <tr>
        <td><%= link_to category.category_name, categories_path(category.id) %></td>
        <td><%= category.reviews.count %>件</td>
        </tr>
      <% end %>
     </div>
    </tbody>
   </table>
  </div>
 </div>
</div>