<div class= "search_box">
  <%= form_with url: admin_search_path, method: :get do |f| %>
    <%= f.number_field :review_score, step: '0.1', required: true %>
    <%= f.submit "数値で絞り込む", class: "btn btn-primary" %>
  <% end %>
</div>
<div class= "container">
  <%= form_with url: admin_reviews_destroy_select_path, method: :delete do |f| %>
  <div class= "main_container">
    <% reviews.each do |review| %>
      <div class= "card_block">
        <div id= "check_box">
          <!--<input type="checkbox" value="<%# review.id %>" name="deletes[<#%= review.id %>]" id="deletes<%#= review.id %>"  style="transform: scale(2);">-->
          <%= f.check_box "deletes[#{review.id}]", {style: "transform: scale(2);"},  true, false %>
        </div>
        <div class= "card">
          <div class= "image">
            <%= image_tag review.get_image(100,100), class:"border-bottom" %>
          </div>
          <div class= "contents">
            <div class= "review_infomation">
              <ul class= "info_list">
                <li class= "item">
                  <span class= "item_title">投稿者:</span><br>
                  <span><%= link_to review.member.name, member_path(review.member.id) %></span><br>
                </li>
                <li class= "item">
                  <span class= "item_title">店名:</span><br>
                  <span><%= link_to review.shop_name, review_path(review.id) %></span><br>
                <li class= "item">
                  <span class= "item_title">カテゴリ:</span><br>
                  <span><%= review.category.category_name %></span><br>
                </li>
                <li class= "item">
                  <span class= "item_title">いいね数:</span><br>
                  <span><%= review.favorites.count %></span><br>
                </li>
                <li class= "item">
                  <span class= "item_title">コメント件数：</span><br>
                  <span><%= review.comments.count %></span><br>
                </li>
                <li class= "item">
                  <span class= "item_title">レビュー:</span><br>
                  <span><%= review.review_cont %></span>
                </li>
                <li class= "item">
                  <span class= "item_title">投稿スコア:</span><br>
                  <span><%= review.score %></span>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- card end -->
      </div>
    <% end # reviews.each %>
  </div><!-- main_container end -->
  <div class= "delete_button">
     <%= f.submit '選択削除' %>
    <p>
      <label for="all"><input type="checkbox" name="allChecked" id="all">全選択</label>
    </p>
  </div>
  <% end %>
</div>
