<div class= "container">
  <%= form_with url: admin_reviews_destroy_select_path, method: :delete do |f| %>
  <div class= "main_container">
    <% @reviews.each do |review| %>
      <div class= "card_block">
        <div class= "check_box">
          <!--<input type="checkbox" value="<%# review.id %>" name="deletes[<#%= review.id %>]" id="deletes<%#= review.id %>"  style="transform: scale(2);">-->
          <%= f.check_box "deletes[#{review.id}]", {style: "transform: scale(2);"},  true, false %>
        </div>
        <div class= "card">
          <div class= "image">
            <%= image_tag review.get_image(100,100), class:"border-bottom" %>
          </div>
          <div class= "contents">
            <div class= "review_infomation">
              <ul>
                <li>
                  <span class= "item">投稿者:</span><br>
                  <span><%= link_to review.member.name, member_path(review.member.id) %></span><br>
                </li>
                <li>
                  <span class= "item">店名:</span><br>
                  <span><%= link_to review.shop_name, review_path(review.id) %></span><br>
                <li>
                  <span class= "item">カテゴリ:</span><br>
                  <span><%= review.category.category_name %></span><br>
                </li>
                <li>
                  <span class= "item">いいね数:</span><br>
                  <span><%= review.favorites.count %></span><br>
                </li>
                <li>
                  <span class= "item">コメント件数：</span><br>
                  <span><%= review.comments.count %></span><br>
                </li>
                <li>
                  <span class= "item">レビュー:</span><br>
                  <span><%= review.review_cont %></span>
                </li>
                <li>
                  <span class= "item">投稿スコア:</span><br>
                  <span><%= review.score %></span>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- card end -->
      </div>
    <% end # @reviews.each %>
  </div><!-- main_container end -->
  <div class= "delete_button">
    <%= f.submit '選択削除' %>
  </div>
  <% end %>
</div>