<h2>編集する</h2>
<%= form_with model: @member do |f| %>
<div class="field">
<h4>ユーザ名</h4>
<%= f.text_field :name %>
</div>
<div class="field">
<h4>メールアドレス</h4>
<%= f.text_field :email %>
</div>
<div class="field">
<h4>紹介文</h4>
<%= f.text_area :introduction %>
</div>
<div class= "field">
<%= f.submit 'Update Book' %>
</div>
<% end %>
