<div class= "container">
 <div class= "row">
   
  <div class= "col-4">
    <% if @member.id == current_member.id %><!--ログインユーザの場合-->
      <h2>マイページ</h2>
      <div>
        <%= image_tag @member.profile_image %>
      </div>
      <p>
        <%= current_member.name %>
        <%= current_member.email %>
        <%= current_member.introduction %>
      </p>
        <%= link_to "編集する",edit_member_path(current_member.id) %>
    <% else %><!--ログインユーザ以外の場合-->
        <%= @member.name %>さんの詳細ページ
        <%= image_tag @member.profile_image %>
      <p>
        <%= @member.name %><br>
        <%= @member.introduction %>
      </p>
    <% end %>
  </div>

  <div class= "col-8">
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <%= image_tag review.get_image(100,100) %>
          <div>
            店名:   <%= review.shop_name %><br>
            場所:   <%= review.place %><br>
            カテゴリ: <%= review.category.category_name %><br>
            投稿者: <%= review.member.name %><br>
            レビュー: <%= review.review_cont %><br>
            投稿日時: <%= review.created_at.strftime('%Y/%m/%d') %><br>
            <%= review.favorites.count %> いいね<br>
            コメント件数：<%= review.comments.count %>
          </div>
        </td>
      </tr>
    <% end %>
   </div>
  </div>
 </div>