<div class="search_form">
<h4>キーワードで検索</h4>
  <%= form_with url: search_path, local: true, method: :get do |f| %>  <!--#searchアクションへデータを送信-->
    <%= f.text_field :word, required: true %>  <!--#検索ワードを"word"として-->
    <%= f.submit "検索", class: "btn btn-primary" %> 　<!--#送信-->
  <% end %>
  <% if @reviews.exists? %>
    "<%= params[:word] %>" 検索結果
  <% else %>
    <%= params[:word] %>の検索結果はありません
  <% end %>
</div>
