<%= render 'layouts/validates', som: @review %>

<div class= "container">
  <div class= "row mt-5">
    <div class= "col">
      <h1>投稿フォーム</h1>
      <%= form_with model: @review, url:  reviews_path, method: :post do |f| %>
        <h4>店名</h4>
        <%= f.text_field :shop_name %>
        <h4>場所</h4>
        <%= f.text_field :place %>
        <h4>感想</h4>
        <%= f.text_area :review_cont %>
        <h4>写真</h4>
        <%= f.file_field :image, accept: "image/*" %>
        <p>
          <h4>カテゴリ選択</h4><br>
        <div class = "category_select">
          <% @categories.each do |category| %>
            <div class = "select_item">
              <%= f.radio_button :category_id, category.id %>
              <%= f.label :category_id, category.category_name, value: category.id %>
            </div>
          <% end %>
        </div>
        </p>
        <%= f.hidden_field :member_id, value: current_member.id %>
        <%= f.submit '投稿する' %>
      <% end %>
    </div>
  </div>
</div>