<%= render 'show_profile' %> <!--プロフィールテンプレ-->

<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
  <%= image_tag @review.get_image(100,100) %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p class="card-title">
            投稿者: <%= @review.member.name %><br>
          </p>
          <p class="card-text">
            店名:   <%= @review.shop_name %><br>
            場所:   <%= @review.place %><br>
            カテゴリ: <%= @review.category.category_name %><br>
            レビュー: <%= @review.review_cont %><br>
 <span class="sentiment-score">本文の感情分析スコア<%= @review.score %></span><br>
            投稿日時: <%= @review.created_at.strftime('%Y/%m/%d') %><br>
          </p>
            <% if @review.member == current_member %>
              <%= link_to "投稿を消す",review_path(@review.id),method: :delete, "data-confirm" => "Are you sure?" %>
              <%= link_to "投稿を編集する",edit_review_path(@review.id) %>
            <% end %>
          <p id= "favorites_<%= @review.id %>">
            <%= render 'public/favorites/favorite', review: @review %>
          </p>
         <span id= "comment_count_<%= @review.id %>">
             コメント<%= @review.comments.count %>件
         </span>
       </p>
       <p>
         <span id= "comments_<%= @review.id %>">
           <%= render 'public/comments/comment', review: @review, comment: @comment %>
         </span>
       </p>
       <p>
         <span id= "comment_form">
           <%= render 'public/comments/form', review: @review, comment: @comment %>
          </span>
       </p>

        </div>
      </div>
    </div>
  </div>

</div>