<!DOCTYPE html>
<html>
  <head>
    <title>Menzuki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <header>
     <div class="border border-secondary"></div>
      <nav class="navbar navbar-expand-sm navbar-light" style ="background-color: #d2b48c">
        <div class="container">
          <a class=navbar-brand href="/">
            <%#= image_tag 'Naganocake.jpg', :size =>'90x55' %>
            <i class="fas fa-yin-yang"></i>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="row">
            <div class="navbar-collapse collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li>
                  <%= link_to admin_reviews_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-gifts"></i>
                   投稿一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_members_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-users"></i>
                  会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_categories_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-birthday-cake"></i>
                  カテゴリ一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-dark" do %>
                  <i class="fas fa-sign-out-alt"></i>
                  ログアウト
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
    </header>

    <%= yield %>

    <footer>
     <div class="fixed-bottom" style ="background-color: #d2b48c">
      <div class="border border-secondary"></div>
      <div class="container mb-5"></div>
     </div>
    </footer>
  </body>

