<html>
  <head>
    <title>Menzuki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <header>
     <div class="border border-secondary"></div>
      <nav class="navbar navbar-expand-sm navbar-light" style ="background-color: #d2b48c">
        <div class="container height-">
          <a class=navbar-brand href="/">
            <%#= image_tag 'Naganocake.jpg', :size =>'90x55' %>
            <i class="fas fa-yin-yang"></i>
          </a>
          <% if member_signed_in? %>
           <div class="collapse navbar-collapse justify-content-around" id="navbarNav4">
            <span class="navbar-text">
              ようこそ、<%= current_member.name %>さん！
            </span>
           </div>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="row">
            <div class="navbar-collapse collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if member_signed_in? %>
                <li>
                  <%= link_to new_review_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-user"></i>
                   投稿する
                  <% end %>
                </li>
                <li>
                  <%= link_to reviews_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-gifts"></i>
                   投稿一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to member_path(current_member.id), class: "nav-link text-dark" do %>
                  <i class="fas fa-shopping-cart"></i>
                   マイページ
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_member_session_path, method: :delete, class: "nav-link text-dark" do %>
                  <i class="fas fa-sign-out-alt"></i>
                   ログアウト
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to admin_reviews_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-gifts"></i>
                   投稿一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_members_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-users"></i>
                  会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_categories_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-birthday-cake"></i>
                  カテゴリ一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-dark" do %>
                  <i class="fas fa-sign-out-alt"></i>
                  ログアウト
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to about_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-asterisk"></i>
                  About
                   <% end %>
                </li>
                <li>
                  <%= link_to reviews_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-gifts"></i>
                   投稿一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to new_member_registration_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-user-plus"></i>
                   新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_member_session_path, class: "nav-link text-dark" do %>
                  <i class="fas fa-sign-in-alt"></i>
                   ログイン
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_session_path, class: "nav-link text-dark" do %>
                   管理者
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_session_path, class: "nav-link text-dark" do %>
                   <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
     </div>
    </header>
    <main class="mb-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    </main>
    <footer class="text-black pt-5 pb-4">
      <div class="container mt-5">
  	   <div class="row">
      	<div class="mx-auto">
    		 <p>©Menzuki</p>
        </div>
       </div>
      </div>
    </footer>
  </body>
</html>
